/*generalidades*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    
    }
    body{
    color: white;
    background-color: black;
    background-image:linear-gradient(to right top,#0000006a,#0000006a),url(/img/bg-register.jpg) ;
    }
    .main{
    display: block;
    unicode-bidi: isolate;
    }

    .headerRegistrarse {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 10;
        color:#ffffff;
        width: 100%;
        height: 15vh;
        padding: 20px;
    }
    .anclaLogo {
        text-decoration: none;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 700;
        }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 95vh;
        width: 60vh;
        background: #b1acb1;
        padding:0px 10px 10px 5px ;
        margin: auto;
        border-radius: 5px;
        font-size: 1.2rem;
        box-shadow: rgb(234, 237, 240) 10px 40px 80px 10px;
        
    }
    .tituloRegistrarse{
        font-size: 2,5rem;
        padding-bottom: 20px;
        }
        form{
            width: 90%;
            text-align: center;
            input:not(check,.boton),select{
                width: 70%;
                height: 40px;
                font-size: 0.5rem;
                font-style: italic;
                border-radius: 30px;
                border-color:#f11a3e ;
                padding: 10px;
                margin:auto;
                background-color:rgb(65, 54, 54);
                color:white;
                outline: none;
            }
        }
        .error input:not(.check,.boton),.error select{
            border: 1px solid #ff0000;
            
        }
        .error-text{
            color: #ff0000;
            font-size: 0.8rem;
            margin-top:0px;
            margin-bottom: 10px;
        }
        .boton{
            margin-top: 0px;
            margin-bottom: 10px;
            width: 50%;
            height: 20px;
            border-radius: 30px;
            padding:0.8rem 0.8rem;
            background-color:rgb(158 54 71);
            font-size: 1rem;
            color: #ffffff;
            box-sizing: content-box;
            border:initial;
            box-shadow:#1b1a1b 2.5px 1.5px 5px 0.5px;
        }
      
        .terminos{
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            margin-right: 50px;;
        }
        #terminos{
            box-sizing: content-box;
            width: 10%;
            height: 20px;
            margin-left: 20%;
         
        }
        
      
        #ayuda{
            margin-top:40px;
            font-size: 1rem;
            text-decoration: none;
            color: #524f4f;
            font-weight:400;
        }
       